body {
	font-family: arial narrow,helvetica;
	font-size: 80%; 
	margin: 0;
	padding: 0;
}

h1 {
	margin: 12pt 0 5pt;
	padding: 0;
	text-align: center;
	font-family: arial,helvetica; 
}

h2 {
	margin: 12pt 0 3pt;
	padding: 0;
}

h3 {
	margin: 12pt 0 3pt;
	padding: 0;
}

a:link, a:visited {
	color: navy; 
}

a:hover, a:active {
	color: green; 
}

p {
	margin: 0 0 12pt; 
}

ul {
	margin: 0 0 10pt; 
}

li {
	margin: 0 16pt 3pt 10pt; 
}

.strong {
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin: 10pt 20pt;
}

/* Header styling */
#header {
	background-color: #f00;
	height: 96px;
}

#headwrapper {
	max-width: 600pt;
	margin: auto;
}

#headwrapper a:link, #headwrapper a:visited {
	color: #fff;
	text-decoration: none;
}

#hdrcontainer {
	float: left;
	color: white;
}

#headwrapper object img, #headwrapper object {
	float: right;
}

#hdrcontainer h1 {
	margin: 7pt 5pt 3pt;
	padding: 0;
	text-align: left;
}

#hdrcontainer h2 {
	padding: 0 5pt 6pt;
	margin: 0 0 3pt;
	font-size: 90%;
	border: 0;
	border-bottom: 1px solid white;
}

#navbar a:link, #navbar a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 3pt 12pt;
	margin: 0;
	width: 150px;
}

#navbar a:hover, #navbar a:active {
	color: #f00;
	background-color: #fff;
}

/* Special content styling */
#content {
	padding: 9pt;
	margin: auto;
	max-width: 600pt; 
}

#footer {
	border-top: 1px solid #777;
	color: #777;
	margin: 10pt 0 0;
	padding: 4pt;
	text-align: center;
	font-size: 90%;
}
